version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
    time: "13:00"
  open-pull-requests-limit: 10
- package-ecosystem: bundler
  directory: "/docker/"
  schedule:
    interval: daily
    time: "13:00"
  open-pull-requests-limit: 10
