
# This will cause RE to be assigned review of any opened PRs against
# the branches containing this file.
# See https://help.github.com/en/articles/about-code-owners for info on how to
# take ownership of parts of the code base that should be reviewed by another
# team.

# RE will be the default owners for everything in the repo.
*                                     @puppetlabs/release-engineering

