<!-- stats-vmpooler-numbers -->

<div class='label'>the numbers</div>

<div id='stats-vmpooler-numbers' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vmpooler-numbers.js'></script>

<br />

<!-- stats-vmpooler-running -->

<style>
  @media (min-width: 768px) and (orientation: portrait) {
    #stats-vmpooler-running {
      width: 880px;
    }
  }

  @media (min-width: 1280px) and (orientation: landscape) {
    #stats-vmpooler-running {
      width: 1180px;
    }
  }

  @media (min-width: 1920px) and (orientation: landscape) {
    #stats-vmpooler-running {
      width: 1780px;
    }
  }
</style>

<div class='label'>VMs running tests</div>

<div id='stats-vmpooler-running' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vmpooler-running.js'></script>

<br />

<!-- stats-vmpooler-pool -->

<div class='label'>individual pool capacity / fullness status</div>

<div id='stats-vmpooler-pool' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vmpooler-pool.js'></script>
