<!-- stats-vcloud-numbers -->

<div class='label'>the numbers</div>

<div id='stats-vcloud-numbers' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vcloud-numbers.js'></script>

<br />

<!-- stats-vcloud-running -->

<div class='label'>VMs running tests</div>

<div id='stats-vcloud-running' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vcloud-running.js'></script>

<br />

<!-- stats-vcloud-pool -->

<div class='label'>vCloud pool status</div>

<div id='stats-vcloud-pool' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vcloud-pool.js'></script>
