<!-- stats-vmpooler-numbers -->

<div class='label'>the numbers</div>

<div id='stats-vmpooler-numbers' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vmpooler-numbers.js'></script>

<br />

<!-- stats-vmpooler-running -->

<div class='label'>VMs running tests</div>

<div id='stats-vmpooler-running' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vmpooler-running.js'></script>

<br />

<!-- stats-vmpooler-pool -->

<div class='label'>vmpooler pool status</div>

<div id='stats-vmpooler-pool' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<script src='/lib/stats-vmpooler-pool.js'></script>
