<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta charset='utf-8'>

  <link rel='stylesheet' type='text/css' href='/dashboard.css' />

  <script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>
  <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
</head>

<body>

<div id='content'>

<div id='header'>
  <embed src='/img/logo.jpg' width='216px' height='162px' class='logo' />
  <div class='text'><b>vmware-host-pooler</b></div>
</div>

<%= yield %>

</div>

</body>

</html>
