[Unit]
Description=VmPooler
Wants=basic.target
After=basic.target network.target

[Service]
EnvironmentFile=-/etc/default/vmpooler
WorkingDirectory=/opt/vmpooler
ExecStart=/opt/jruby/bin/jruby /opt/vmpooler/vmpooler -s Puma -E production
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
