<div id='header'>
  <embed src='/img/logo.gif' width='200px' height='150px' class='logo' />

  <div class='text'><%= site_name %></div>

  <div id='stats-vmpooler-numbers-weekly' class='module'></div>

  <script src='/lib/stats-vmpooler-numbers-weekly.js'></script>
</div>

<!-- stats-vmpooler-weekly-clone-count-pool -->

<div class='label'>Weekly clone counts by pool</div>

<div id='stats-vmpooler-weekly-clone-count-pool' class='module'>
  <div class='spinner'></div> Loading data...
</div>

<!-- stats-vmpooler-weekly-daily -->

<div class='label'>Weekly trends by day</div>

<div id='stats-vmpooler-weekly-daily' class='module'>
  <div class='spinner'></div> Loading data...
</div>


<script src='/lib/stats-vmpooler-weekly.js'></script>
