<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>

<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>

<head>
  <meta charset='utf-8'>

  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
    <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
  <![endif]-->

  <link rel='stylesheet' href='/bootstrap.min.css'>
  <link rel='stylesheet' href='/vmpooler.css'>

  <script type='text/javascript' src='/lib/jquery.min.js'></script>
  <script type='text/javascript' src='/lib/bootstrap.min.js'></script>
  <script type='text/javascript' src='/lib/d3.min.js'></script>
</head>

<body>

  <div id='loading' style='position: absolute; top: 0px; height: 100%; width: 100%; background-color: #fff; z-index: 1;'>
    <div id='logo' style='position: relative; top: 50%; transform: translateY(-50%);'>
      <center>
        <img src='/img/logo.gif' />

        <br />

        <div class='spinner'></div>
      </center>
    </div>
  </div>

  <div class='container-fluid'>

<%= yield %>

  </div>

</body>

</html>
